<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true"
               scanPeriod="300 seconds">
    <springProperty scope="context" name="LOG_HOME"
                    source="logging.path"></springProperty>
    <springProperty scope="context" name="SERVICE_NAME"
                    source="server.servlet.context-path"></springProperty>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%X ${SERVICE_NAME}>%X{tid}][%-5level][%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread] %logger - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>

    </appender>

    <appender name="bizlogFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${SERVICE_NAME}.log</file>
        <append>true</append>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%X ${SERVICE_NAME}>%X{tid}][%-5level][%d{yyyy-MM-dd HH:mm:ss.SSS}][%thread] %logger - %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>{LOG_HOME}/biz-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy
                class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>150MB</maxFileSize>
        </triggeringPolicy>
        <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter"> <level>INFO</level>
            </filter> -->
    </appender>


    <!-- <logger name="com.zimadai.core.platform.monitor" level="WARN"> <appender-ref
        ref="bizlogFile" /> </logger> <logger name="org.springframework" level="ERROR">
        </logger> <logger name="com.alibaba.dubbo" level="ERROR"> <appender-ref ref="bizlogFile"
        /> </logger> <logger name="com.alibaba.rocketmq" level="ERROR"> </logger>
        <logger name="com.baidu.disconf" level="ERROR"> </logger> <logger name="org.apache.zookeeper"
        level="ERROR"> </logger> -->

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="bizlogFile"/>
    </root>

</configuration>